.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Thumbs.db
.hugo_build.lock
/resources/

**/.DS_Store
.DS_Store
/lb1/public/
/lb2/public/
/lb3/public/
/lb4/public/
/main/public/

/lb1/content/**/*.html
/lb2/content/**/*.html
/lb3/content/**/*.html
/lb4/content/**/*.html
/main/content/**/*.html

